<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeti - <%- page %></title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <!-- Imprime Datos escapados -->
    <%= %>
    <!-- Imprimer datos -->
    <%- %>
    <!-- Evalua -->
    <% %>
    
    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo Meeti">
        </a>

        <nav class="nav">
            <a href="#">Create Group</a>
            <a href="/login">Log In</a>
            <a href="/create-account">Sing In</a>
        </nav>
    </header>

    <% if(locals.flashMsg) {%>

        <% const categoria = Object.keys(locals.flashMsg) %>

        <% if(categoria.length) {  %>

            <!-- TODO flashMsg[category] only work if there is only one category -->
            <% locals.flashMsg[categoria].forEach(alerta => { %>

                <div class="alertas">
                    <p class="alerta <%= categoria %>"><%= alerta %></p>
                </div>

            <% }) %> 

        <% } %>

    <% } %>

    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Create Group</a>
            <a href="/login">Log In</a>
            <a href="/create-account">Sing In</a>

            <p class="copyright">All rights reserved Meeti <%- locals.year %>&copy;</p>
        </nav>
    </footer>
    
</body>
</html>